<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fish website</title>
    <link rel="stylesheet" href="../../css/LandingPages/fishLandingPage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="script.js" defer></script>
  </head>
  <body>
    <header class="header">
      <div class="active">
        <section class="opening-btn">
          <button type="button" class="menu-button" title="Openeing Menu btn">
            <div class="menu-icon"></div>
          </button>
        </section>
        <button class="closing-btn" title="Closing Menu Btn"></button>

        <nav class="navbar">
          <a href="#">Home</a>
          <div class="petsDropDown">
            <button class="petsBtn">Pets</button>
            <div class="content">
              <a href="#">Dog</a>
              <a href="#">Cat</a>
              <a href="#">Bird</a>
              <a href="#">Fish</a>
            </div>
          </div>
          <a href="#">Vet-Care</a>
          <a href="#">Services</a>
          <a href="#">Accessories</a>
        </nav>
      </div>
      <div class="logo">
        <img
          src="../../img/fishLandingPage/Fish_Images/Screenshot 2023-03-20 185713.png"
          alt=""
          height="40px"
          width="40px"
        />
        <p style="display: inline-block" onclick="Logo()">Pet's Paradise</p>
      </div>
      <!-- <div class="icons">
        <div class="fa-solid fa-cart-shopping"></div>
        <div
          onclick="XMark(this)"
          class="fa-solid fa-user"
          id="login-btn"
        ></div>
      </div> -->
      <a href="/auth/user/login" class="login-btn">Login</a>

      <form action="/send" method="post" class="login-form">
        <h3>Sign in</h3>
        <input
          type="email"
          placeholder="enter your email"
          class="box"
          id="mail"
          name="usermail"
        />
        <p id="mail-error"></p>
        <input
          type="password"
          name="userpassword"
          placeholder="enter your password"
          class="box"
          id="password"
        />
        <p id="password-error"></p>
        <div class="remember">
          <input type="checkbox" name="" id="remember-me" />
          <label for="remember-me">remember me</label>
        </div>
        <input type="submit" value="sign in" id="sign-in" class="btn sign-in" />
        <input type="submit" value="sign up" id="sign-up" class="btn sign-up" />
        <div class="links">
          <a href="" class="forgot">forgot password</a>
          <a href="" class="sign">sign up</a>
        </div>
      </form>
    </header>

    <section class="home" id="home">
      <div class="content">
        <h3>Enjoy the joy of <span>Owning fish</span></h3>
        <a href="#" class="glow-on-hover">Shop Now</a>
      </div>
      <img
        src="../../img/fishLandingPage/bottom_wave.png"
        alt=""
        class="wave"
      />
    </section>

    <section class="about"></section>

    <section id="Shop-Fish" class="Shop-Fish">
      <h3 class="detail">
        <span class="word1">Our</span> <span class="word2"> Popular</span>
        <span class="word3"> Breeds</span>
      </h3>

      <div class="products">
        <div class="product">
          <h3>Gold Fish</h3>
          <div class="card">
            <div class="front">
              <img
                src="../../img/fishLandingPage/Fish_Images/gold_fish.png"
                alt=""
              />
            </div>
            <div class="back">
              <p class="info">2-3 inch inch</p>
              <p class="info">Male|Female</p>
              <p class="info cost">Rs. 100 <span>Rs. 250.00</span> per piece</p>
              <a href="" class="pet"><span>Shop Now</span></a>
            </div>
          </div>
        </div>

        <div class="product">
          <h3>Koi Fish</h3>
          <div class="card">
            <div class="front">
              <img
                src="../../img/fishLandingPage/Fish_Images/koi_fish.png"
                alt=""
              />
            </div>
            <div class="back">
              <p class="info">3-5 inch</p>
              <p class="info">Male|Female</p>
              <p class="info cost">Rs. 300 <span>Rs. 500.00</span> per piece</p>
              <a href="" class="pet"><span>Shop Now</span></a>
            </div>
          </div>
        </div>

        <div class="product">
          <h3>Tiger barb</h3>
          <div class="card">
            <div class="front">
              <img
                src="../../img/fishLandingPage/Fish_Images/tiger_barb.png"
                alt=""
              />
            </div>
            <div class="back">
              <p class="info">1.2-1.6 inch</p>
              <p class="info">Male|Female</p>
              <p class="info cost">Rs. 150 <span>Rs. 400.00</span> per piece</p>
              <a href="" class="pet"><span>Shop Now</span></a>
            </div>
          </div>
        </div>

        <div class="product">
          <h3>molly fish</h3>
          <div class="card">
            <div class="front">
              <img
                src="../../img/fishLandingPage/Fish_Images/molly_fish.png"
                alt=""
              />
            </div>
            <div class="back">
              <p class="info">3.5-6 inch</p>
              <p class="info">Male|Female</p>
              <p class="info cost">Rs. 200 <span>Rs. 200.00</span> per piece</p>
              <a href="" class="pet"><span>Shop Now</span></a>
            </div>
          </div>
        </div>

        <div class="product exploreMore">
          <div class="explore"><a href="#" class="expBtn">Find More</a></div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <div class="explore">
        <a href="#" id="exploreMore" class="expBtn">Explore More</a>
      </div>
    </section>

    <section id="services" class="services">
      <h3 class="heading">Our Services</h3>
      <div class="services-list">
        <div class="service">
          <img
            src="../../img/fishLandingPage/Fish_Images/fish_accessories.png"
            alt=""
          />
          <div class="content">
            <h3>Accessories</h3>
            <p>
              Here, You can find all best deals on Accesories related to pet
              including Toys,Harnesses
            </p>
            <a class="pet pet-service" href="#">Learn More</a>
          </div>
        </div>
        <div class="service">
          <img
            src="../../img/fishLandingPage/Fish_Images/fish_care.png"
            alt=""
            height="250px"
            width="250px"
          />
          <h3>Pet Care</h3>
          <p>Here You can find all the best medicines to care your Pet</p>
          <a class="pet pet-service" href="#">Learn More</a>
        </div>
        <div class="service">
          <img
            src="../../img/fishLandingPage/Fish_Images/fish_food.png"
            alt=""
          />
          <h3>Food</h3>
          <p>Feed Your Pet with Love , Affection and High Quality Food!</p>
          <a class="pet pet-service" href="#">Learn More</a>
        </div>
      </div>
    </section>

    <section class="stats">
      <div class="Delivered">
        <span class="count">999</span>
        <p>Fishes Delivered</p>
      </div>

      <div class="feedback">
        <span class="count">99%</span>
        <p>Positive Customers</p>
      </div>

      <div class="happy-families">
        <span class="count">500</span>
        <p>Happy Families</p>
      </div>
    </section>

    <footer>
      <img src="../../img/fishLandingPage/top_wave.png" alt="" />
      <div class="pet-side">
        <p>Shop Pet</p>
        <a href="#" class="pets">Dog</a>
        <a href="#" class="pets">Cat</a>
        <a href="#" class="pets">Fish</a>
        <a href="#" class="pets">Bird</a>
      </div>

      <div class="pet-services">
        <p>Services Offered</p>
        <a href="#" class="pets">Accessories</a>
        <a href="#" class="pets">Training</a>
        <a href="#" class="pets">Pet Care</a>
        <a href="#" class="pets">Spa & Grooming</a>
      </div>

      <div class="social">
        <p>Lets Stay Connected</p>
        <div class="input">
          <input type="text" placeholder="Your Mail" />
          <button type="button">Submit</button>
        </div>
        <p class="follow">Follow Us</p>
        <a href="#"><i class="fa-brands fa-facebook facebook"></i></a>
        <a href="#"><i class="fa-brands fa-square-instagram instagram"></i></a>
        <a href="#"><i class="fa-brands fa-square-twitter twitter"></i></a>
        <a href="#"><i class="fa-brands fa-pinterest pinterest"></i></a>
      </div>
      <div class="credit">
        <p class="empty"></p>
        created by <span>&copy;Group 7</span>|all rights reserved!
      </div>
    </footer>

    <!-- <a href="" class="pet"><span>Shop Now</span></a> -->
    <!-- <button type="button" class="pet"><span>Shop Now</span></button> -->
  </body>
</html>
