<header class="header">
    <div class="active">
      <section class="opening-btn">
        <button type="button" class="menu-button" title="Openeing Menu btn">
          <div class="menu-icon"></div>
        </button>
      </section>
      <button class="closing-btn" title="Closing Menu Btn"></button>

      <nav class="navbar">
        <a href="/">Home</a>
        <div class="petsDropDown">
          <button class="petsBtn">Pets</button>
          <div class="content">
            <a href="/dogs">Dog</a>
            <a href="/cats">Cat</a>
            <a href="/birds">Bird</a>
            <a href="/fish">Fish</a>
          </div>
        </div>
        <a href="/vet-care">Vet-Care</a>
        <a href="/services">Services</a>
        <a href="/products">Accessories</a>
      </nav>
    </div>
    <div class="logo">
      <img
        src="../../img/fishLandingPage/Fish_Images/Screenshot 2023-03-20 185713.png"
        alt=""
        height="40px"
        width="40px"
      />
      <p style="display: inline-block" onclick="Logo()">Pet's Paradise</p>
    </div>


    <!-- <div class="icons">
      <div class="fa-solid fa-cart-shopping"></div>
      <div
        onclick="XMark(this)"
        class="fa-solid fa-user"
        id="login-btn"
      ></div>
    </div> -->
    <!-- <a href="/auth/user/login" class="login-btn">Login</a> -->

    <div class="enter">
      <% if (notlogin) { %>
    <a href="/auth/user/login" class="login-btn">Login</a>
    <% }else{ %>
      <div class="enter__item profile">
        <span class="material-icons-sharp cart" style="font-size: 3.5rem;"> shopping_cart </span>
        <a href="/user/profile"><span class="material-icons-sharp profile-picture" style="font-size: 3.5rem;">
          account_circle
        </span>
      </a>
      </div>
      <% } %>
  </div>


    <form action="/send" method="post" class="login-form">
      <h3>Sign in</h3>
      <input
        type="email"
        placeholder="enter your email"
        class="box"
        id="mail"
        name="usermail"
      />
      <p id="mail-error"></p>
      <input
        type="password"
        name="userpassword"
        placeholder="enter your password"
        class="box"
        id="password"
      />
      <p id="password-error"></p>
      <div class="remember">
        <input type="checkbox" name="" id="remember-me" />
        <label for="remember-me">remember me</label>
      </div>
      <input type="submit" value="sign in" id="sign-in" class="btn sign-in" />
      <input type="submit" value="sign up" id="sign-up" class="btn sign-up" />
      <div class="links">
        <a href="" class="forgot">forgot password</a>
        <a href="" class="sign">sign up</a>
      </div>
    </form>
  </header>
