<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
    
    <!-- swiper  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <!-- custom css file -->
    <link rel="stylesheet" href="../../css/LandingPages/petfoodLandingPage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />  
</head>
<body>

    <!-- header start -->
    <%- include("../components/navbar", {notlogin: true}); %>


    <!-- header end -->

    <!-- home start -->
    <section class="home" id="home">
        <div class="content">
            <h3>healthy and <span>nutritious</span> food for your pets</h3>
            <p>Take The First Step Towards Keeping Your Pet Healthy And Magnificent For Years To Come. Give Him Or Her The Best Start In Life. Discover What We Can Do For You. Healthy and Nutritious Food.</p>
            <a href="#products" class="btn">Shop now</a>
        </div>
    </section>
    <!-- home end -->

    <!-- features start -->
    <section class="features" id="features">
        <h1 class="heading">Our <span>features</span></h1>
        <div class="box-container">
            <div class="box">
                <img src="../../img/foodservicesLandingPage/fea1.jpg" style="width:200px">
                <h3>healthy and nutritious</h3>
                <p>Complete and balanced daily food for dogs and cats, plant based, OGM free, drug residue-free, and no gluten formula.</p>
                <a href="#" class="btn">read more</a>
            </div>

            <div class="box">
                <img src="../../img/foodservicesLandingPage/fea2.jpg" style="width:200px">
                <h3>Doctors recommended brands</h3>
                <p>All the food brands we present to you are doctors recommended brands.</p>
                <a href="#" class="btn">read more</a>
            </div>

            <div class="box">
                <img src="../../img/foodservicesLandingPage/fea3.png" style="width:200px">
                <h3>easy payment</h3>
                <p>We provide a user friendly interface which is easy to understand, and make your experience better than ever.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>
    </section>
    <!-- features end -->

    <!-- products start -->
    <section class="products" id="products">
        <h1 class="heading">our <span>products</span></h1>

        <div class="wrapper">
            <div id="search-container">
             <input type="search" id="search-input" placeholder="Search for items">
             <button id="search">Search</button>
            </div>
            <div id="buttons">
                <a href="#products" class="button-value" onclick="reefresh()" value="all">All</a>
                <a href="#products"  class="button-value" onclick="refresh()" value="dog">Dog</a>
                <a href="#products"  class="button-value" onclick="refresh()" value="cat">Cat</a>    
                <a href="#products"  class="button-value" onclick="refresh()" value="bird">Bird</a>
                <a href="#products"  class="button-value" onclick="refresh()" value="fish">Fish</a>
                <a href="#products"  class="button-value" onclick="filterProduct('all')" value="price">Price</a>
            </div>
            <div id="view-products"></div>
        </div>

        <!-- <div class="product-slider"> -->
            <div class="product-content">

                
                <!-- <div class="swiper-slide dogs box">
                    <img class="imgsrc " src="../../img/foodservicesLandingPage/dogFood1.jpg" style="width: 200px;">
                    <div class="des"> <h3 class="title" >Pedigree for adult dogs</h3>
                    <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>449</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div></div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                <div class="swiper-slide fishes box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/fishFood1.jpg" style="width: 200px;">
                    <div class="des"> <h3 class="title">Omega One pellets for fish</h3>
                    <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>349</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div></div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                <div class="swiper-slide cats box">
                    <img class="imgsrc ex1" src="../../img/foodservicesLandingPage/catFood1.jpg" style="width: 200px;">
                    <div class="des"> <h3 class="title">Whiskas food for cats</h3>
                    <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>649</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div></div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                <div class="swiper-slide birds box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/birdFood1.jpg" style="width: 200px;">
                    <div class="des"> <h3 class="title">IuPreem food for parrots</h3>
                    <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>349</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div></div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                <div class="swiper-slide dogs box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/dogFood2.jpg" style="width: 200px;">
                    <div class="des"> <h3 class="title">Barking Dogs food for dogs</h3>
                    <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>349</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div></div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                <div class="swiper-slide fishes box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/fishFood2.jpg" style="width: 200px;">
                    <div class="des"> <h3 class="title">Tetra Min flakes for fish</h3>
                    <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>349</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div></div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                <div class="swiper-slide cats box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/catFood2.jpg" style="width: 200px;">
                    <div class="des"> <h3 class="title">IAMS food for cats</h3>
                    <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>349</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div></div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                <div class="swiper-slide birds box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/birdFood2.jpg" style="width: 200px;">
                    <div class="des"> <h3 class="title">Wagner's food for birds</h3>
                    <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>349</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div></div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                <div class="swiper-slide dogs box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/dogFood3.jpg" style="width: 200px;">
                    <div class="des"> <h3 class="title">Crunch Bites for dogs</h3>
                    <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>349</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div></div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>
            </div>
        </div>

        <div class="swiper product-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide fishes box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/fishFood3.jpg" style="width: 200px;">
                    <div class="des"><h3 class="title">Discus food mix for fish</h3>
                        <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>449</div>
                        <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                         </div>
                    </div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                <div class="swiper-slide cats box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/catFood3.jpg" style="width: 200px;">
                    <div class="des"><h3 class="title">Perfect Bistro for cats</h3>
                        <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>349</div>
                        <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                <div class="swiper-slide birds box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/birdFood3.jpg" style="width: 200px;">
                    <div  class="des"><h3 class="title">Wild Harvest for parrots</h3>
                        <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>649</div>
                        <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                <div class="swiper-slide dogs box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/dogFood4.jpg" style="width: 200px;">
                    <div class="des"><h3 class="title">IAMS food for dogs</h3>
                    <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>349</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div></div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                  <div class="swiper-slide fishes box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/fishFood4.jpg" style="width: 200px;">
                    <div class="des"><h3 class="title" >Discovery food for fish</h3>
                    <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>349</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div></div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                <div class="swiper-slide cats box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/catFood4.jpg" style="width: 200px;">
                    <div class="des"><h3 class="title" >Kit Cat food for cat</h3>
                    <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>349</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div></div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                <div class="swiper-slide birds box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/birdFood4.jpg" style="width: 200px;">
                    <div class="des"><h3 class="title">Meal Worms for birds</h3>
                    <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>349</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div></div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                <div class="swiper-slide dogs box">
                    <img class="imgsrc" src="../../img/foodservicesLandingPage/dogFood5.jpg" style="width: 200px;">
                    <div class="des"> <h3 class="title">Wild Earth food for dogs</h3>
                    <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>349</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div></div>
                    <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                </div>

                    <div class="swiper-slide cats box">
                        <img class="imgsrc" src="../../img/foodservicesLandingPage/catFood5.jpg" style="width: 200px;">
                        <div class="des"><h3 class="title">Top Cat food for cats</h3>
                        <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>349</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div></div>
                        <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                    </div>

                    <div class="swiper-slide cats box">
                        <img class="imgsrc" src="../../img/foodservicesLandingPage/fishFood6.jpg" style="width: 200px;">
                        <div class="des"><h3 class="title">Dried worms for fishes</h3>
                        <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>549</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div></div>
                        <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                    </div>

                    <div class="swiper-slide cats box">
                        <img class="imgsrc" src="../../img/foodservicesLandingPage/birdFood6.jpg" style="width: 200px;">
                        <div class="des"><h3 class="title">Peckish food for birds</h3>
                        <div class="price"><i class="fa-solid fa-indian-rupee-sign"></i>599</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div></div>
                        <div class="cart"><a href="#products" class="btn">add to cart</a></div>
                    </div> -->
            </div>
        <!-- </div> -->
        <div class="view-more">
            <center><button href="#products" class="btn viewbtn">View more</button></center>
        </div>
        

    </section>
    <!-- products end -->

    <!-- categories start -->
    <section class="categories" id="categories">
        <h1 class="heading">Product <span>categories</span></h1>
        <div class="box-container">
            <div class="box">
                <img src="../../img/foodservicesLandingPage/dogFood6.jpg" style="width:200px;">
                <h3>Dog food</h3>
                <p>for all breeds</p>
                <a href="#products" class="btn">shop now</a>
            </div>
            <div class="box">
                <img src="../../img/foodservicesLandingPage/catFood6.jpg" style="width:200px;">
                <h3>Cat food</h3>
                <p>for all breeds</p>
                <a href="#products" class="btn">shop now</a>
            </div>
            <div class="box">
                <img src="../../img/foodservicesLandingPage/birdFood5.jpg" style="width:200px;">
                <h3>Bird food</h3>
                <p>for specific breeds</p>
                <a href="#products" class="btn">shop now</a>
            </div>
            <div class="box">
                <img src="../../img/foodservicesLandingPage/fishFood5.jpg" style="width:200px;">
                <h3>Fish food</h3>
                <p>for all breeds</p>
                <a href="#products" class="btn">shop now</a>
            </div>
        </div>
    </section>
    <!-- categories end -->

    <!-- reviews start -->
    <section class="review" id="review">
        <h1 class="heading">customer's <span>review</span></h1>
        <div class="swiper review-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="../../img/foodservicesLandingPage/r1.jpg">
                    <p>I was a little worried to try this website since they have started very recently. But it turned out to be good and cost effective.. My dog, 55kg Rottweiler, ate less when I introduced this food to him, but eventually got used to it.
                    I will recommend this product.</p>
                    <h3>Trisha</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                
                <div class="swiper-slide box">
                    <img src="../../img/foodservicesLandingPage/r2.jpg">
                    <p>My doggo just loves it. She has always been a pedigree lover. This chicken n vegetable flavor has made her even skip the home food.It does have fillers but lesser than the other brands. She prefers having pedigree.
                    I will recommend this product.</p>
                    <h3>Harry</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <img src="../../img/foodservicesLandingPage/r3.jpg">
                    <p>I've fed my Labrador puppy on this from the age of 3 months up to now 10 months and he loves it and is now almost fully grown. Despite what it says on the packet I've been advised by my vet that I should now consider changing to an adult version. </p>
                    <h3>Karthik</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <img src="../../img/foodservicesLandingPage/r4.jpg" >
                    <p>My cat is quiet selective when it comes to food. Sheeba premium wet foods are exception and turns out that this is his favourite among the wet meals that we have tried so far.This wet cat food is very good for my cat's complete and balanced diet.</p>
                    <h3>Xian-wu</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <img src="../../img/foodservicesLandingPage/r5.jpg" >
                    <p>The pellet size is mini and floats on water and ideal for small fish. My platy and swordtail love it and eat with gusto, no leftovers ever. It doesn't cloud the water. After using it for 2 months, I think this is a good brand of fish food.</p>
                    <h3>Zendaya</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <img src="../../img/foodservicesLandingPage/r6.jpg" >
                    <p>The Whisker's chicken loaf meal also contains essential vitamins and minerals, so this premium palate for your cat delivers a mouth-watering feast, without compromising on the goodness. It gives my cat the satisfying taste of premium cat food.</p>
                    <h3>Maguire</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <img src="../../img/foodservicesLandingPage/r7.jpg" >
                    <p>I have deeply observed that the wild birds are not eating it when pouring on top roofs of house.the company must take a note on it. And include a basic diet for sparrows and other birds so that they enjoy eating it.I would recommend it.</p>
                    <h3>Hanna</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                <div class="swiper-slide box">
                    <img src="../../img/foodservicesLandingPage/r8.jpg" >
                    <p>The product is good and the dried worms are crisp with very little smell. But it leaves some colour in the water. Have to change the water more frequently due to this. This was not there with another brand product which I have used earlier.</p>
                    <h3>Pete</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- reviews end -->

    <%- include("../components/footer"); %>

    <!-- swiper js -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script> -->
    <!-- custom js file link  -->
    <script src="../../JavaScript/LandingPages/petfoodLandingPage.js"></script>
</body>
</html>