<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spa & Salon</title>
  <!-- services.css -->
  <link rel="stylesheet" href="../../css/LandingPages/servicesLandingPage.css">
  <!-- <link rel="stylesheet" href="../../css/components/navbar2.css"> -->
  <!-- font awesome cdn -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
  integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <!-- icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />  
</head>

<body>
  <%- include("../components/navbar", {notlogin}); %>

  
  <!-- start home section -->
  <section class="home">
    <div class="container">
      <div class="home-img">
        <img src="../../img/foodservicesLandingPage/photo-1523480717984-24cba35ae1ef.avif" id="p1">
      </div>

      <div class="home-content">
        <h1>Your big day<br><span>in style</span></h1>
        <p>come give your pet a new look.</p>
        <a href="#package" class="btn btn-outline">
           <i class="fa-solid fa-money-check-dollar"></i>
          Check packages
        </a>
      </div>
    </div>
  </section>
  <!-- end home section -->

  <!-- start about section -->
  <section class="about" id="about">
    <div class="container">
      <div class="section-title">
        <h1>Our Story</h1>
        <span>studio hair</span>
      </div>
      <div class="about-detail">
        <div class="about-detail-content">
          <div class="about-img">
            <img src="../../img/foodservicesLandingPage/i1.jpg">
          </div>
          <div class="about-description">
            <p>We're dedicated to giving you the best service with a focus on customer support and best grooming. Founded in 2023 with the objective to become one-stop solution for the pet grooming. We do provide the home service, so the pet parents can able to see each and every thing in front of their eye. We do bring the product with us, use your place for grooming, after the service we clean the area. Quick response on calls and mail.</p>

          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->

    <!-- start services section -->
    <section class="services" id="services">
      <div class="services-content">
        <div class="section-title">
          <h1>Services</h1>
          <span>What we do</span>
        </div>
        <div class="services-content-description">
          <div class="box">
            <div class="inner">
              <img src="../../img/foodservicesLandingPage/hair.png" />
              <p>hair grooming</p>
            </div>
          </div>

          <div class="box">
            <div class="inner">
              <img src="../../img/foodservicesLandingPage/nail.png" />
              <p>nail grooming</p>
            </div>
          </div>

          <div class="box">
            <div class="inner">
              <img src="../../img/foodservicesLandingPage/body.jpeg" />
              <p>body wash</p>
            </div>
          </div>

          <div class="box">
            <div class="inner">
              <img src="../../img/foodservicesLandingPage/teeth.png" />
              <p>teeth wash</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end services section -->

    <!-- start package section-->
    <section class="package" id="package">
      <div class="section-title">
        <h1>Promotional package</h1>
        <span>for your pet</span>
      </div>
      <div class="package-cards">
        <div class="card">
          <div class="card-title">
            <h1>BRONZE</h1>
          </div>
          <div class="card-items">
            <div class="item">
              <p>
                <i class="far fa-check-square check-icon"></i> Hair grooming
              </p>
            </div>
            <div class="item">
              <p class="not">
                <img
                  src="../../img/foodservicesLandingPage/x-solid.svg"
                  width="10px"
                />
                Nail grooming
              </p>
            </div>
            <div class="item">
              <p class="not">
                <img
                  src="../../img/foodservicesLandingPage/x-solid.svg"
                  width="10px"
                />
                Teeth wash
              </p>
            </div>
            <div class="item">
              <p class="not">
                <img
                  src="../../img/foodservicesLandingPage/x-solid.svg"
                  width="10px"
                />
                Complete foam bath
              </p>
            </div>
            <div class="p">
              <p>Price : <i class="fa-solid fa-indian-rupee-sign"></i>299</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-title">
            <h1>SILVER</h1>
          </div>
          <div class="card-items">
            <div class="item">
              <p>
                <i class="far fa-check-square check-icon"></i> Hair grooming
              </p>
            </div>
            <div class="item">
              <p>
                <i class="far fa-check-square check-icon"></i> Nail grooming
              </p>
            </div>
            <div class="item">
              <p class="not">
                <img
                  src="../../img/foodservicesLandingPage/x-solid.svg"
                  width="10px"
                />
                Teeth wash
              </p>
            </div>
            <div class="item">
              <p class="not">
                <img
                  src="../../img/foodservicesLandingPage/x-solid.svg"
                  width="10px"
                />
                Complete foam bath
              </p>
            </div>
            <div class="p">
              <p>Price : rs.499</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-title">
            <h1>GOLD</h1>
          </div>
          <div class="card-items">
            <div class="item">
              <p>
                <i class="far fa-check-square check-icon"></i> Hair grooming
              </p>
            </div>
            <div class="item">
              <p>
                <i class="far fa-check-square check-icon"></i> Nail grooming
              </p>
            </div>
            <div class="item">
              <p><i class="far fa-check-square check-icon"></i> Teeth wash</p>
            </div>
            <div class="item">
              <p class="not">
                <img
                  src="../../img/foodservicesLandingPage/x-solid.svg"
                  width="10px"
                />
                Complete foam bath
              </p>
            </div>
            <div class="p">
              <p>Price : rs.999</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-title">
            <h1>DIAMOND</h1>
          </div>
          <div class="card-items">
            <div class="item">
              <p>
                <i class="far fa-check-square check-icon"></i> Hair grooming
              </p>
            </div>
            <div class="item">
              <p>
                <i class="far fa-check-square check-icon"></i> Nail grooming
              </p>
            </div>
            <div class="item">
              <p><i class="far fa-check-square check-icon"></i> Teeth wash</p>
            </div>
            <div class="item">
              <p>
                <i class="far fa-check-square check-icon"></i> Complete foam
                bath
              </p>
            </div>
            <div class="p">
              <p>Price : rs.1299</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end package section  -->

    <!-- start appointment -->
    <section class="appointment" id="appointment">
      <div class="appointment-content">
        <div class="section-title">
          <h1>Appointment</h1>
          <span>book by your convenience</span>
        </div>
        <div class="form-content">
          <form action="services/appointment" method="post">
          
            <label for="selpack">Select the package you want : </label>
            <select name="selpack" id="selpack">
              <option value="">Select package</option>
              <option value="299">BRONZE</option>
              <option value="499">SILVER</option>
              <option value="999">GOLD</option>
              <option value="1299">DIAMOND</option>
            </select>
            <br>
            <label for="selnum">Select the number of pets : </label>
              <input type="number" name="selmun" id="selnum" min="1" value="1">
            <br>
            <label for="seldate">Select the date of your appointment : </label>
              <input type="date" name="seldate" id="seldate">
            <br>
            <label for="seltime">Select the time of your appointment :</label>  
              <input type="time" name="seltime" id="seltime">
            <br>  
            <button type="submit" class="btn    a-app">Confirm appointment</button>  
          </form>
        </div>
      </div>
    </section>
    <!-- end appointment -->

  <!-- start gallery section -->
  <section class="gallery" id="gallery">
    <div class="gallery-content">
      <div class="section-title">
        <h1>Gallery</h1>
        <span>the cutest pets</span>
      </div>
      <div class="gallery-list-img">
        <div class="gallery-img">
          <img src="../../img/foodservicesLandingPage/Gallery1.webp">
        </div>
        <div class="gallery-img">
          <img src="../../img/foodservicesLandingPage/Gallery2.webp">
        </div>
        <div class="gallery-img">
          <img src="../../img/foodservicesLandingPage/Gallery3.webp">
        </div>
        <div class="gallery-img">
          <img src="../../img/foodservicesLandingPage/Gallery4.webp">
        </div>
        <div class="gallery-img">
          <img src="../../img/foodservicesLandingPage/Gallery5.webp">
        </div>
        <div class="gallery-img">
          <img src="../../img/foodservicesLandingPage/Gallery6.webp">
        </div>
        <div class="gallery-img">
          <img src="../../img/foodservicesLandingPage/Gallery7.jpg">
        </div>
        <div class="gallery-img">
          <img src="../../img/foodservicesLandingPage/Gallery8.jpg">
        </div>
  </section>
  <!-- end gallery -->

  <!-- start footer -->
  <%- include("../components/footer"); %>

  <!-- end footer -->


    <!-- js file -->
    <script src="../../JavaScript/LandingPages/servicesLandingPage.js"></script>
    <!-- <script src="../../JavaScript/components/navbar.js"></script> -->
  </body>
</html>
