<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/LandingPages/vetcareLandingPage.css">
    <!-- <link rel="stylesheet" href="fontawesome-free-5.15.3-web/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>

    <%- include("../components/navbar", {notlogin}); %>

        <div class="background-image">
            <div class="background-content">
                <h1>provide an exceptional <br> patient experience</h1>
                <p>To ensure that the animals receive the best and most appropriate care, we will have an in-house team
                    of expert, passionate and ethical veterinary doctors from different faculties
                    <br>. This will help in timely diagnosis, effective treatment and speedy recovery of the animals.
                </p>
                <a href="#">Read more</a>
            </div>
        </div>

        <div class="about" id="about">
            <div class="main-about">
                <div class="inner-about">
                    <div class="about-content">
                        <h1>about us</h1>
                        <p>We aim to provide world-class medical services and facilities to pet owners and stray and
                            abandoned animals. This would include timely examinations and treatment, surgical
                            interventions, nutritional consultancy, isolation wards for infectious diseases and
                            hospitalisation wards for primary rehabilitation of animals.</p>
                        <a href="#">Read more</a>
                    </div>

                </div>
                <div class="inner-about">
                    <div class="inner-about-image">
                        <img src="../../img/vetcareLandingPage/chiness.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="our-services" id="ser">
            <div class="service-content">
                <div class="left-service-content">
                    <h1>Our special services</h1>
                    <p>We will have an exclusive diagnostic center to provide immediate diagnostic services. We will add
                        advanced diagnostic tools such as X-ray, ultrasound, blood analyser, laparoscopy, kidney
                        dialysis unit among others in a phased manner. Our mission is to serve more animals and improve
                        their quality of life in a timely and cost-effective manner.</p>
                </div>

                <div class="right-service-content">
                    <div class="right-btn">
                        <a href="#">See all services</a>
                    </div>
                </div>
            </div>

            <div class="main-services">
                <div class="inner-services-content">
                    <div class="service-icon">
                        <i class="fas fa-notes-medical"></i>
                    </div>
                    <h2>X-Rays</h2>
                    <p> X-rays can help our vets to get a view of your pet's bones, tissues, and internal organs so that
                        they can diagnose issues such as broken bones, bladder stones, swallowed foreign objects, and
                        more.</p>

                </div>

                <div class="inner-services-content">
                    <div class="service-icon">
                        <i class="fas fa-hospital-user"></i>
                    </div>
                    <h2>Ultrasound Examination</h2>
                    <p>LAn ultrasound examination, also known as ultrasonography, is a non-invasive imaging technique
                        that allows internal body structures to be seen by recording echoes or reflections of ultrasonic
                        waves</p>

                </div>

                <div class="inner-services-content">
                    <div class="service-icon">
                        <i class="fas fa-user-md"></i>
                    </div>
                    <h2>Laparoscopcy</h2>
                    <p>Laparoscopic procedures are usually performed by placement of surgical instruments through
                        cannulae which are small plastic or metal tubes. Cannulae are placed through small 0.5-1cm
                        incisions in the skin.</p>

                </div>
            </div>
        </div>


        <div class="gallery" id="gallery">
            <h1>Gallery</h1>
            <div class="main-gallery">
                <div class="inner-gallery">
                    <img src="../../img/vetcareLandingPage/gal1.jpg" alt="">
                </div>

                <div class="inner-gallery">
                    <img src="../../img/vetcareLandingPage/gal2.jpg" alt="">
                </div>

                <div class="inner-gallery">
                    <img src="../../img/vetcareLandingPage/gal3.jpg" alt="">
                </div>

                <div class="inner-gallery">
                    <img src="../../img/vetcareLandingPage/gal4.jpg" alt="">
                </div>

                <div class="inner-gallery">
                    <img src="../../img/vetcareLandingPage/gal5.jpg" alt="">
                </div>

                <div class="inner-gallery">
                    <img src="../../img/vetcareLandingPage/gal6.jpg" alt="">
                </div>
            </div>
        </div>


        <div class="why-choseus">
            <div class="main-chose">
                <div class="inner-chose">
                    <img src="../../img/vetcareLandingPage/cute.jpg" alt="">
                </div>

                <div class="inner-chose">
                    <h1>why chose us </h1>

                    <div class="inner-chose-content">
                        <div class="main-inner-chose">
                            <div class="chose-icon">
                                <i class="fas fa-notes-medical"></i>
                            </div>
                            <div class="icon-content">
                                <p>We are first and foremost a team of animal lovers, who happen to also possess
                                    extraordinary skills in veterinary medicine. As a hospital accredited by the
                                    American Animal Hospital Association, we demonstrate our commitment and passion for
                                    the highest standards of veterinary medicine.. </p>
                            </div>
                        </div>

                        <div class="main-inner-chose">
                            <div class="chose-icon">
                                <i class="fas fa-hospital-user"></i>

                            </div>
                            <div class="icon-content">
                                <p>Our philosophy has always been to show animals the care, respect, and compassion that
                                    they deserve. Every aspect of our practice speaks to their needs, from the decor to
                                    the special way we interact with each pet as an individual. </p>
                            </div>
                        </div>

                        <div class="main-inner-chose">
                            <div class="chose-icon">
                                <i class="fas fa-user-md"></i>
                            </div>
                            <div class="icon-content">
                                <p>We are first and foremost a team of animal lovers, who happen to also possess
                                    extraordinary skills in veterinary medicine. As a hospital accredited by the
                                    American Animal Hospital Association, we demonstrate our commitment and passion for
                                    the highest standards of veterinary medicine. </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>



        <div class="our-doctors">
            <h1>Our special doctors</h1>

            <div class="main-doctor">
                <div class="inner-doctor">
                    <img src="../../img/vetcareLandingPage/gal3.jpg" alt="">
                    <div class="content">
                        Dr. K . Hemanth<br>
                        B.V.Sc & A.H, M.V.Sc Veterinary Surgery & Radiology, PhD. Scholar
                        6+ years of professional experience
                    </div>
                </div>

                <div class="inner-doctor">
                    <img src="../../img/vetcareLandingPage/gal2.jpg" alt="">
                    <div class="content">
                        Dr. k .Ritika<br>
                        B.V.Sc & A.H<br>
                        11+ years of professional experience
                    </div>
                </div>

                <div class="inner-doctor">
                    <img src="../../img/vetcareLandingPage/gal5.jpg" alt="">
                    <div class="content">
                        Dr. N. Ramchander Rao<br>
                        B.V.Sc & A.H<br>
                        2+ years of professional experience
                    </div>
                </div>

                <div class="inner-doctor">
                    <img src="../../img/vetcareLandingPage/gal6.jpg" alt="">
                    <div class="content">
                        Dr. Abhishek<br>
                        B.V.Sc & A.H<br>
                        2+ years of professional experience
                    </div>
                </div>


            </div>
        </div>
 
        <!-- start appointment -->
    <section class="appointment" id="appointment">
        <div class="appointment-content">
          <div class="section-title">
            <center>
            <h1 class="app">MAKE An Appointment Here</h1>
            <span>BOOK AN Appointment Of Your Choise</span>
          </div>
          <div class="form-content">
            <form action="/vet-care/appointment" method="post">
              <label for="selpack" class="app-headgings"> Choose veterinarian<span class="star">*</span>   :</label><br>
              <select name="selpack" id="sel-pack">
                <!-- <option value="">Select package</option> -->
                <option value=Hemanth">Dr k.Hemanth</option>
               <option value="Ritika">Dr k.Ritika</option>
               <option value="Ramchander">Dr N.Ramchander Rao</option>
               <option value="Abhishek">Dr .Abhishek</option>
              </select>
              <br>
              <label for="selnum" class="app-headgings">Select the number of pets  <span class="star">*</span>         : </label><br>
                <input type="number" name="selmun" id="sel-num" min="1" value="1">
              <br>
              <label for="seldate" class="app-headgings">Select a date for your appointment <span class="star">*</span> : </label><br>
                <input type="date" name="seldate" id="sel-date">
              <br>
              <label for="seltime" class="app-headgings">Select the time of your appointment <span class="star">*</span>:</label><br>  
                <input type="time" name="seltime" id="sel-time">
              <br>  
              <button type="submit" class="a-app">BOOK Your  appointment</button></center>  
            </form>
          </div>
        </div>
      </section>
      <!-- end appointment -->


        <%- include("../components/footer"); %>

            <script src="../../JavaScript/LandingPages/vetcareLandingPage.js"></script>
</body>

</html>