@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --heading-text: 'Signika Negative', sans-serif;
    --roboto-text: 'Roboto', sans-serif;
    --nav-background-color: #D3D3D3;
    --main-hue: 208;
    --main-color: hsl(var(--main-hue), 92%, 54%);
    --main-color-hover: hsl(var(--main-hue), 77%, 48%);
    --text-color: #000;
    --bg-text-color: #fff;
    --focus-padding: .7rem 1.5rem;
    --color-light: rgba(132, 139, 200, 0.18);

    --color-why-choose-bg: #1f2130;
    --grey-dark: #3d535f;
    --choose-us-light-color: #C0C0C0;
    --choose-us-middle-color: #E0E0E0;
    --choose-us-color: #fff;
    --color-violet: #7f00ff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    /* padding-top: 1rem; */
    min-height: 100vh;
    /* min-width: 100vw; */
}

header {
    width: 100%;
    padding-top: 1rem;
    min-height: 100vh;
}

a {
    color: var(--text-color);
    font-family: var(--roboto-text);
}

.close-open {
    display: none;
}

.enter__item.profile {
    display: none;
}

header nav {
    display: flex;
    font-family: var(--roboto-text);
    font-weight: 500;
    font-size: 1.6rem;
    justify-content: space-between;
    align-items: center;
}

.brand {
    margin-left: 5rem;
    flex-grow: 1;
    display: flex;
    gap: 1.3rem;
    align-items: center;
}

.brand__logo {
    color: var(--main-color);
}

.brand__name {
    text-transform: uppercase;
}

.brand__name span {
    color: var(--main-color);
}

.menu__section {
    flex-grow: 2;
}

.menu {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.menu__item {
    padding: 1rem;
}

.menu a:hover {
    color: var(--main-color);
}

.menu a:active {
    color: var(--main-color);
}

.menu__item .dropdown .tag {
    display: flex;
    gap: 0.1rem;
    align-items: center;
}

.more {
    height: 2rem;
    width: 2rem;
}

.dropdown {
    position: relative;
}

.tag .tag__icon {
    transform: translateY(.5rem);
    transition: all .25s ease;
}

.dropdown__content {
    width: 120%;
    opacity: 0;
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    transform: translateY(-3rem);
    box-shadow: 0 3rem 20px rgba(0, 0, 0, 0.2);
    transition: transform .25s ease-in-out, opacity .25s ease-out;
    pointer-events: none;
}

.dropdown__content .dropdown__item {
    text-align: center;
    padding: 1rem 0 1rem;
}

.dropdown__tag:hover .tag__icon {
    transform: translateX(4px) translateY(0) rotateZ(180deg);

}

.second:hover .dropdown__content,
.dropdown__content:hover {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.enter {
    display: flex;
    align-items: center;
    margin-right: 5rem;
}

.enter__item {
    padding: var(--focus-padding);
    border-radius: 100px;
}

.focus {
    background-color: var(--main-color);
    color: var(--bg-text-color);
}

.focus a {
    color: var(--bg-text-color);
}

header main {
    display: flex;
    gap: 1rem;
}

header main .left {
    width: 50%;
    padding: 6% 0 5% 11%;
}

header main .left .heading {
    font-family: var(--heading-text);
    margin-bottom: 4rem;
}

header main .left .heading__top {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 5rem;
}

header main .left .heading__top .dog-sketch {
    height: 4rem;
    width: 4rem;
}

header main .left .heading__top span {
    color: var(--main-color);
}

header main .left .heading__middle {
    font-weight: 400;
    font-size: 3rem;
}

header main .left .heading__end {
    font-weight: 600;
    font-size: 4rem;
}

header main .left .heading__end span {
    color: var(--main-color);
}

main .button {
    display: flex;
    gap: 1rem;
    font-size: 1.6rem;
}

.btn-grad {
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
    padding: 1rem 3rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 100px;
    font-family: var(--heading-text);
    display: block;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.normal-btn {
    padding: 1rem 3rem;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
}

.dog__section {
    margin-top: 5rem;
    margin-left: 15%;
    display: flex;
    gap: 1.5rem;
    width: 60%;
}

.dog__img {
    height: 15%;
    width: 25%;
    border-radius: 10px;
}

.dog__logo {
    height: 2rem;
    width: 2rem;
    margin-bottom: 1rem;
}

.dog__section h4 {
    font-size: 2rem;
    margin-bottom: 1rem;

}

.dog__section p {
    font-size: 1.6rem;
    color: var(--grey-dark);
}

.right {
    overflow-x: hidden;
    overflow-y: hidden;
}

.images {
    position: relative;
}

.group__img {
    display: block;
    height: 55rem;
    width: 55rem;
}

.left .review__section {
    margin-top: 3rem;
}

.left .review__section h3 {
    font-size: 2rem;
}

.left .review__section h4 {
    font-size: 1.6rem;
    line-height: 2;
}

.left .review__section h4 span {
    color: #FFC300;
}

.left .review__images {
    display: flex;
}

.left .review__section .img__item {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
}

.goleft {
    margin-left: -1.3rem;
    border: 2px solid #fff;
}

.text__item {
    font-size: 1.6rem;
    background-color: var(--main-color);
    color: #fff;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header Ends */

/* Why choose us section starts */

.choose {
    background-image: url(../../img/mainLandingPage/Wave\ Line.png);
    background-size: cover;
}

.choose-us {
    width: 70%;
    margin: auto;
    background-color: var(--color-why-choose-bg);
    border-radius: 50px;
    text-align: center;
    margin-top: -5rem;
    background-position: bottom bottom;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    background-image: url(../../img/mainLandingPage/wave_background\ 1.png);
    background-size: cover;
    /* object-fit: cover; */
}

.choose-us__heading {
    font-family: var(--roboto-text);
    font-size: 4rem;
    color: var(--choose-us-color);
}

.choose-us__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    row-gap: 3rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
}

.choose-us__grid .choose-us__item h2 {
    font-size: 3rem;
    color: var(--choose-us-color);
}

.choose-us__grid .choose-us__item h3 {
    font-size: 2rem;
    color: var(--choose-us-middle-color);
}

.customers,
.pets,
.doctors,
.time {
    border-right: 3px solid var(--choose-us-middle-color);
}

/* Choose us section Ends */

/* Get Pets section starts */

.pets__outer {
    padding-top: 3rem;
    margin-bottom: 3rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='400' preserveAspectRatio='none' viewBox='0 0 1440 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1152%26quot%3b)' fill='none'%3e%3cpath d='M -827.8258732248556%2c347 C -683.83%2c287.2 -395.83%2c60.6 -107.82587322485561%2c48 C 180.17%2c35.4 324.17%2c256.8 612.1741267751444%2c284 C 900.17%2c311.2 1166.61%2c187.6 1332.1741267751445%2c184 C 1497.74%2c180.4 1418.43%2c249.6 1440%2c266' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1227.9730573696002%2c335 C -1083.97%2c300.6 -795.97%2c151.2 -507.97305736960027%2c163 C -219.97%2c174.8 -75.97%2c392.6 212.02694263039973%2c394 C 500.03%2c395.4 686.43%2c183.6 932.0269426303997%2c170 C 1177.62%2c156.4 1338.41%2c294.8 1440%2c326' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1152'%3e%3crect width='1440' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    padding-bottom: 3rem;
}

.pets__inner {
    margin-top: 2rem;
    padding-top: 2rem;
    width: 85%;
    margin: auto;
}

.pets__inner .pets__heading {
    font-family: var(--roboto-text);
    font-size: 5rem;
    margin-left: 30%;
    /* display: flex;
    justify-content: center; */
}

.pets__grid {
    width: 100%;
    display: grid;
    margin: auto;
    /* margin-top: 1rem; */
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 5rem;
    row-gap: 4rem;
}

.pets__item {
    background-color: #fff;
    border-radius: 30px;
    cursor: pointer;
    overflow-x: hidden;
    padding: 1rem;
    overflow: hidden;
    position: relative;
    background-color: transparent;
}

.pets__item-heading {
    position: absolute;
    top: 90%;
    left: 40%;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--roboto-text);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
}

.pets__item:hover .pets__item-heading {
    transform: translate(0%, -600%);
    opacity: 1;
}

.pets__item:hover svg {
    transform: scale(1);
    filter: blur(3px) brightness(60%);
}

.gradient-text {
    display: inline-block;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
    /* background-image: linear-gradient(to right, #667eea, #764ba2); */
    -webkit-background-clip: text;
    color: transparent;
    transition: all .25s ease-in;
}

.gradient-text:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(#000, 0.2);
}

.pet-text {
    /* background-image: linear-gradient(to right, #B7F8DB, #50A7C2); */
    /* -webkit-background-clip: text; */
    /* color: transparent; */
}