<!-- Site footer -->

<link rel="stylesheet" href="../../css/components/footer.css">

<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-about">
                <h6>About Us</h6>
                <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative to help the
                    upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or
                    snippets as the code wants to be simple. We will help programmers build up concepts in different
                    programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL
                    and Algorithm.</p>
            </div>

            <div class="footer-links-section">
                <div class="footer-categories">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="">Dogs</a></li>
                        <li><a href="">Cats</a></li>
                        <li><a href="">Birds</a></li>
                        <li><a href="">Fish</a></li>
                    </ul>
                </div>
    
                <div class="footer-quick-links">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="">Home</a></li>
                        <li><a href="">Vet-Care</a></li>
                        <li><a href="">PetsFoods</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Accessories</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div class="footer-container">
        <div class="footer-down-row">
            <div class="footer-copyright-class">
                <p class="footer-copyright-text">Copyright &copy; 2017 All Rights Reserved by
                    <a href="#">Scanfcode</a>.
                </p>
            </div>

        </div>
    </div>
</footer>

