<!-- Site footer -->

<link rel="stylesheet" href="../../css/components/footer.css">

<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-about">
                <h6>About Us</h6>
                <p class="text-justify">At PetsParadise, we're committed to providing pet owners with a complete range of tools 
                    and resources to help them manage their pets' health, wellness, and happiness. Whether you're a first-time 
                    pet owner or an experienced breeder, our user-friendly platform 
                    makes it easy to keep track of your pets' medical records, appointments, dietary needs, and more.</p>
            </div>

            <div class="footer-links-section">
                <div class="footer-categories">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="/dogs">Dogs</a></li>
                        <li><a href="/cats">Cats</a></li>
                        <li><a href="/birds">Birds</a></li>
                        <li><a href="/fish">Fish</a></li>
                    </ul>
                </div>
    
                <div class="footer-quick-links">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/vet-care">Vet-Care</a></li>
                        <li><a href="/petsfoods">PetsFoods</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/products">Accessories</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div class="footer-container">
        <div class="footer-down-row">
            <div class="footer-copyright-class">
                <p class="footer-copyright-text">Copyright &copy; 2017 All Rights Reserved by
                    <a href="#">Scanfcode</a>.
                </p>
            </div>

        </div>
    </div>
</footer>

