<link rel="stylesheet" href="../../css/components/navbar.css" defer>

<header class="components-navbar-header">
    <div class="components-navbar-close-open">
        <span class="material-icons-sharp components-navbar-open"> menu </span>
        <span class="material-icons-sharp components-navbar-close"> close </span>
    </div>

    <div class="components-navbar-brand">
        <div class="components-navbar-brand__logo">
            <span class="material-icons-sharp">pets</span>
        </div>
        <div class="components-navbar-brand__name">
            <a href="/" class="components-navbar-brand__name">pets <span>paradise</span></a>
        </div>
    </div>

    <nav class="components-navbar-menu__section">
        <ul class="components-navbar-menu">
            <li class="components-navbar-menu__item"><a href="/">Home</a></li>
            <li class="components-navbar-menu__item second">
                <a href="" class="components-navbar-tag"> Pets </a>
                <ul>
                    <li><a href="/dogs">Dogs</a></li>
                    <li><a href="/cats">Cats</a></li>
                    <li><a href="/birds">Birds</a></li>
                    <li><a href="/fish">Fish</a></li>
                </ul>
            </li>
            <li class="components-navbar-menu__item"><a href="/vet-care">Vet-Care</a></li>
            <li class="components-navbar-menu__item"><a href="/services">Services</a></li>
            <li class="components-navbar-menu__item"><a href="/petsfoods">Pet-Foods</a></li>
            <li class="components-navbar-menu__item components-navbar-last--item">
                <a href="/products">Accesssories</a>
            </li>
        </ul>
    </nav>

    <div class="components-navbar-enter">
        <% if (notlogin) { %>
            <a href="/auth/user/login">
                <button class="components-navbar-btn-grad" type="submit">Login</button>
            </a>
            <% }else if (!admin){ %>
                <div class="components-navbar-enter__item components-navbar-profile">
                    <!-- <a href="#"><i class="fa-solid fa-cart-shopping" id="cart-btn" style="font-size: 3rem;"></i></a>
                    <a href="/user/profile"><span class="material-icons-sharp components-navbar-profile-picture"
                            style="font-size: 3rem;">
                            account_circle
                        </span>
                    </a> -->
                    <!-- <div class="fas fa-search" id="search-btn"></div>
                    <div class="fas fa-shopping-cart" id="cart-btn"></div>
                    <div class="fas fa-user" id="login-btn"></div> -->
                    <a href="/user/profile"><i class="fas fa-user" id="login-btn"></i></a>
                    <!-- <div class="fas fa-search" id="search-btn"></div>
                    <div class="fas fa-shopping-cart" id="cart-btn"></div>
                    <div class="fas fa-user" id="login-btn"></div> -->
                    <a id="cart-btn"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>

                
        <form action="/user/payment" method="post" class="shopping-cart">
            <div class="total">total : 0</div>
            <!-- <a href="/user/payment" class="btn">Purchase</a> -->
            <!-- <input type="text" name="text" id=""> -->
            <button type="submit" class="btn">Purchase</button>
            
        </form>

        <p class="cart-Names" style="display: none;"> <%= cartNames.join(","); %></p>
        <p class="cart-Prices" style="display: none;"> <%= cartPrices.join(","); %></p>
        <p class="cart-src" style="display: none;"> <%= cartSrc.join(","); %></p>
      
                <% }  else { %>
                    <div class="components-navbar-enter__item components-navbar-profile">
                        <!-- <a href="#"><i class="fa-solid fa-cart-shopping" id="cart-btn" style="font-size: 3rem;"></i></a>
                        <a href="/user/profile"><span class="material-icons-sharp components-navbar-profile-picture"
                                style="font-size: 3rem;">
                                account_circle
                            </span>
                        </a> -->
                        <!-- <div class="fas fa-search" id="search-btn"></div>
                        <div class="fas fa-shopping-cart" id="cart-btn"></div>
                        <div class="fas fa-user" id="login-btn"></div> -->
                        <a href="/profile/admin/dashboard"><i class="fas fa-user" id="login-btn"></i></a>
                        <!-- <div class="fas fa-search" id="search-btn"></div>
                        <div class="fas fa-shopping-cart" id="cart-btn"></div>
                        <div class="fas fa-user" id="login-btn"></div> -->
                    </div>                
                <% } %>  
    </div>
</header>

<script src="../../JavaScript/components/navbar.js" defer></script>
