<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/adminHeader.ejs'); %>
    <link rel="stylesheet" href="../../css/Admin/adminCustomers.css" />
  </head>
  <body>
    <% if(login) { %> <%- include("../components/adminLayout", { path :
    "customers", pageHeading: "Customers" }); %>

    <main class="admin__main">
      <div class="summary__container">
        <div class="summary__card">
          <div class="summary__card-details">
            <h2>Total Customers</h2>
            <h3>1,000</h3>
            <small class="admin__text-muted">Overall</small>
          </div>
          <span class="material-icons-sharp admin__primary-back"> groups </span>
        </div>
      </div>

      
    </main>
    <% } else { %>
    <h1>No page found</h1>
    <% } %>
  </body>
</html>
