<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login Panel</title>
  <link rel="stylesheet" href="../../css/Admin/adminLogin.css">
  <link rel="stylesheet" href="/css/helper/message.css">

</head>
<body>
  
  <% if (error) { %>
    <div class="messageUp">
      <%= message %>
    </div>
    <% } %>

  <div class="container">
    <div class="myform">
      <form action="/auth/admin/login" method="post">
        <h2>ADMIN LOGIN</h2>
        <input type="text" placeholder="Username" name="Email">
        <input type="password" placeholder="Password" name="Password">
        <button type="submit">LOGIN</button>
      </form>
    </div>
    <div class="image">
      <img src="https://cff2.earth.com/uploads/2022/07/08123100/Pets-scaled.jpg">
    </div>
  </div>

</body>
</html>